<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smkapk_version1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Adding_New_Pill"></activity>
        <activity android:name=".Add_Pill_Activity" />
        <activity
            android:name=".Medkit_MainActivity"
            android:label="@string/title_activity_medkit__main"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pills_Main_Activity"
            android:label="@string/title_activity_pills__main_"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Settings.FAQ_Activity" />
        <activity android:name=".Settings.Security_Settings" />
        <activity android:name=".Settings.Notifications_Settings" />
        <activity android:name=".Settings.Change_Email_Activity" />
        <activity android:name=".Settings.Change_Name_Activity" />
        <activity android:name=".Settings.Change_Password_Activity" />
        <activity
            android:name=".Settings_activity"
            android:label="@string/title_activity_settings_activity"
            android:noHistory="true"
            android:parentActivityName=".HomePage_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smkapk_version1.HomePage_Activity" />
        </activity>
        <activity
            android:name=".HomePage_Activity"
            android:label="@string/title_activity_main_scroll"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUp_Activity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogIn_Activity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>